extends ../layout

block content
	h3 Trip Listing

	input(type='button btn-primary',class="btn btn-primary pull-right", value='Add a new record', onclick="window.location.href='/trips/create';")
	div(style='clear:both')
	<br>


	form#list-form
		table#list.table.table-condensed.table-hover.table-bordered.table-striped.sortable
			thead
				tr
					th #
					th Trip Name
					th Trip URL
					th Timestamp
					th Userid
					th Actions
					th Refresh

			tbody
				if records && records.length > 0
					each rec in records
						tr
							td #{rec.id}
							td #{rec.tripname}
							td #{rec.tripurl}
							td #{rec.timestamp}
							td #{rec.user_id}
							td
								a(href='/trips/delete/#{rec.id}') Delete 
								span &nbsp;|&nbsp;&nbsp;
								a(href='/trips/update/#{rec.id}') Edit
							td
								a(href='/trips/refresh/#{rec.id}') Sync
				else
					tr
						td(class='list-norecs', colspan='8') There are currently no records of this type.